<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>My Book</h4>
                <div class="hline-w"></div>
                <p>I'm writing <a href="http://ionicinaction.com">Ionic in Action</a>, a book about building hybrid mobile apps using the Ionic Framework, AngularJS, and Apache Cordova.</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
